*.elc
auto-save-list
autosave
games
image-dired
semanticCache
anything-c-adaptive-history
tramp
.org-id-locations
ac-comphist.dat
el-get
elpa
lisp
resources/schemas/html5/
.ido.last
%backup%~
!lisp/org-mode
!lisp/git-emacs
.DS_Store
/recentf
/transient/
/projectile-bookmarks.eld
/.lsp-session-v1
/network-security.data
